<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
        <div class="container">
            <h1>Our Employees</h1>
            <div class="container">
                <p>
                    Our Employee Family. Click on an individual to view their unique profile.
                </p>
                <!-- <p>
                    With a working GET request in Postman, you can now start to render
                    the response in HTML
                </p>
                <p>
                    Inside the "directory.ejs" page is a EJS version of a template
                    literal. With templates like EJS or Handlebars we can then loop over
                    the items of the array to render the HTML.
                </p>
                <p>
                    <ul>
                        <li>Starting with a working Postman request, inside your route console.log the response</li>
                        <li>Next you just need to pass the response object or array of objects into your template</li>
                    </ul>
                </p>
                <p>The image below is just an example, remove it and render each employee like the example. Feel free to
                    style it however you'd like! </p>
                <p>Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your
                    templates should look. </p> -->
            </div>
            <div class="row justify-content-between">
                <!-- <img src="/images/example.png" class="img-fluid"> -->
                <!-- YOUR EJS OR HANDLEBARS TEMPLATE LITERALS GO HERE -->

                <!-- Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your templates should look. -->

                <% employees.forEach(function(id)  { %>
                <div class="col-3 p-1 m-2 bg-light">
                    <p><img src="<%= id[1].picture %>"></p>
                    <p>
                    <%= id[1].title[0].toUpperCase()+id[1].title.substr(1) %><% if (id[1].title !== "miss") { %>.<% } %> <%= id[1].firstName+' '+id[1].lastName %>
                    </p>
                    <p>
                        <%= id[1].email %>
                    </p>
                    
                    <!-- <%= id[0] %> -->
                    <a class="btn btn-primary" href="/directory/<%= id[0] %>">View profile</a>
                </div>
                <% }); %>
            </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>